.body {
	margin:0px;
}

.common {
	 box-sizing:border-box;
	 font-size:0;
	 margin:0px;
	 height:1400px;
	 background:url('https://4tololo.ru/files/images/201324101801106989.jpeg');
}

.left {
	display:inline-block;
	float:left;
	margin-right:15px;
}

.right {
	display:inline-block;
	float:right;
	margin-left:15px;
}

.middle {
	 float:justify;
	 color:white;
	 font-size:24px;
}

.upper-left {
	width:390px;
	height:390px;
	margin-bottom:10px;
	background-image:url('http://i.ru-phone.org/userfiles/walls/362/362628/iskhwlka.jpg');
	background-repeat:round;
}

.bottom-left {
	 width:390px;
	 height:390px;
	 background-image:url('http://i.ru-phone.org/userfiles/walls/362/362628/iskhwlka.jpg');
	 background-repeat:round;
}

.upper-right {
	width:390px;
	height:390px;
	margin-bottom:10px;
	background-image:url('http://cards.wow.ua/images/cards/previews/17914-2.jpg');
	background-repeat:space;
	background-color:#ff3333;
}

.bottom-right {
	 width:390px;
	 height:390px;
	 background-image:url('http://cards.wow.ua/images/cards/previews/17914-2.jpg');
	 background-repeat:space;
	 background-color:#ff3333;
}